html {
		width: 100%;
		margin: auto;
}

body{background: white;
	display: block;
	width: 100%;
	z-index: -1;

}

nav{display: flex;

}

nav button{
	color: white;
}

a{  color: white;
	text-decoration:none;
}

p{
	color: black
	font-family: 'Roboto Condensed', sans-serif;;
}

a:hover{color: white;
		text-decoration: none;
}

.bg{
	background-color: black;
	margin-top: 10px;
	padding-top: 10px;
}

.fotoslider{height: 500px

}

.color{ color:white;
		font-family: 'Cinzel', serif;
		font-style: 400;
		display: block;
		text-align: center;
	}

.titulo{color:black;
		font-family: 'Cormorant Garamond', serif; 
		font-size: 100px;
		font-style: 400; 
		margin-bottom: 10px; 
		padding-bottom: 10px;
		margin-top: 100px;
		text-decoration:none;

}


ul.menu{width: calc(80% - 30px); 
		margin: 5px; 
		padding: 10px; 
		float: left;
}

ul.menu li a{   color:white;
				text-decoration:none;  
				background-color: black;
}

ul.menu li{ display: inline-block; 
			margin: 5px; padding: 5px;
}

#logos{ font-size: 30px;
		width: calc(20% - 30px); 
		float: right; 
}

.logo{  
		background-color: grey; 
		margin: auto; 
		padding: 10px;
}

#VIDEO{ text-align: center; 
		clear: both;
}

#integrantes{	text-align: center;
				margin-top: 10px;
				padding-top: 5px;
}

#dos{   width: 100% ; 
		display: block;
		overflow: auto;
}

.img{   width: 250px; 
		height: 250px; 
		border-radius: 125px; 
		display: block; 
		margin: auto; 
		transition: ease all 0.3s;
}

#taylor{background-image: url(rt.png); 
		background-repeat: no-repeat; 
		background-position: center; 
		background-size: cover;
}

#taylor:hover{  background-image: url(rt2.jpg); 
				transform: scale(1.1); 
				box-shadow: 0px 0px 10px 10px white;
}

#fm{background-image: url(fm.jpg); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover;
}

#fm:hover{  background-image: url(fm2.jpg); 
			transform: scale(1.1); 
			box-shadow: 0px 0px 10px 10px white;
}

#jd{background-image: url(jd.jpg); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover;
}

#jd:hover{  background-image: url(jd2.jpg); 
			transform: scale(1.1); 
			box-shadow: 0px 0px 10px 10px white;
}

#bm{background-image: url(bm.jpg); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-size: cover;
}

#bm:hover{background-image: url(bm2.jpg); 
		transform: scale(1.1); 
		box-shadow: 0px 0px 10px 10px white;
}

.queen{	width: calc(25% - 30px) ; 
		margin:5px; padding: 10px; 
		float: left;
		color: white;
}

.inte{position: relative;
}

#lista-int{ position: absolute; 
			display: none;
}

.inte:hover #lista-int{ display: block; 
						background-color: black; 
						color: white; 
						margin: 0; 
						padding-left: 0;
						z-index: 99;
}

#discogrfia{margin-top: 10px;
			padding-top: 5px;

}

#discografia-flex{	display: flex;
					flex-direction: row;
					justify-content: center;
					flex-wrap: wrap;
}

.item-flex{ width: calc(25% - 20px);
			justify-content: center;
			padding: 10px;


}

#historia{text-align: center;
}

.int{text-align: center; 
	color: white;
	font-family:'Cinzel', serif; 
	font-size: 25px; 
	font-style: 400;
}

.text{text-align:center;
	color: white;
	font-family: Cormorant  Garamond, serif;
	font-size: 20px;
	font-style: 400;
}

.foto{width: 200px; 
	height: 200px;
}

.form-text{ text-align:left;
			font-family: Cormorant  Garamond, serif;
			font-size: 25px;
			font-style: 400;
			color: white;
}

.col-{text-align: right;

}

footer{ background-color: white;
		color: grey;
		font-size: 25px;
		font-family: Cormorant  Garamond, serif;
		font-style: 400;

}

@media only screen and (max-width: 420px) { 
	
	.queen{
			width: calc(100% - 30px)

	}

	.item-flex{
				width: calc(100% - 20px)


	}

	.text{
			font-size: 40px;
	}

	.color{
			font-size: 30px
	}
}

@media only screen and (min-width: 420px) and (max-width: 1025px){

	ul.menu{
			width: calc(60% - 30px)
	}

	#logos{
			width: calc(40% - 30px);
			text-align: right;
	}

	.queen{
			width: calc(50% - 30px);
	}

	.int{
			padding top: 10px;
			padding-left: 25px;
			padding-right: 25px;


	}

	.item-flex{
				width: calc(50% - 20px);
	}
}










        <nav class="container-fluid">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="#video">Video</a>
                </li>
                <li class="nav-item hover">
                    <a class="nav-link" href="#">Banda</a>
                        <ul id="lista-banda">
                            <li><a href="freddie.html"> Freddie Mercury</a></li>
                            <li><a href="brian.html"> Brian May</a></li>
                            <li><a href="john.html"> John Deacon</a></li>
                            <li><a href="roger.html"> Roger Taylor</a></li>
                        </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#disco">Discografía</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
            </ul>
        </nav>





